	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/10/2018 13:31
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-presentation-whiteboard:before { content: "\f100"; }
.flaticon-right-quotes-symbol:before { content: "\f101"; }
.flaticon-trifolded-map:before { content: "\f102"; }
.flaticon-smiling-girl:before { content: "\f103"; }
.flaticon-clock:before { content: "\f104"; }
.flaticon-girl:before { content: "\f105"; }
.flaticon-notebook:before { content: "\f106"; }
.flaticon-edit:before { content: "\f107"; }
.flaticon-placeholder:before { content: "\f108"; }
.flaticon-paper-plane:before { content: "\f109"; }
.flaticon-user-1:before { content: "\f10a"; }
.flaticon-unlink:before { content: "\f10b"; }
.flaticon-success:before { content: "\f10c"; }
.flaticon-search:before { content: "\f10d"; }
.flaticon-drop:before { content: "\f10e"; }
.flaticon-christmas-tree:before { content: "\f10f"; }
.flaticon-plus:before { content: "\f110"; }
.flaticon-rocket-ship:before { content: "\f111"; }
.flaticon-battery:before { content: "\f112"; }
.flaticon-target:before { content: "\f113"; }
.flaticon-classroom:before { content: "\f114"; }
.flaticon-first-aid-kit:before { content: "\f115"; }
.flaticon-tablet:before { content: "\f116"; }
.flaticon-dustbin:before { content: "\f117"; }
.flaticon-telegram-logo:before { content: "\f118"; }
.flaticon-business:before { content: "\f119"; }
.flaticon-4-square-shapes:before { content: "\f11a"; }
.flaticon-speech-bubble-and-three-dots:before { content: "\f11b"; }
.flaticon-man-1:before { content: "\f11c"; }
.flaticon-music:before { content: "\f11d"; }
.flaticon-tree-of-love:before { content: "\f11e"; }
.flaticon-play-button:before { content: "\f11f"; }
.flaticon-unlink-symbol:before { content: "\f120"; }
.flaticon-long-arrow-pointing-to-the-right:before { content: "\f121"; }
.flaticon-arrows:before { content: "\f122"; }
.flaticon-envelope-of-white-paper:before { content: "\f123"; }
.flaticon-royal-crown-of-elegant-vintage-design:before { content: "\f124"; }
.flaticon-desktop-computer-with-magnifying-lens-focusing-on-data:before { content: "\f125"; }
.flaticon-test-tube-flask-and-drop-of-blood:before { content: "\f126"; }
.flaticon-arrows-1:before { content: "\f127"; }
.flaticon-map-marker:before { content: "\f128"; }
.flaticon-stocks-graphic-on-laptop-monitor:before { content: "\f129"; }
.flaticon-shape:before { content: "\f12a"; }
.flaticon-recycle-triangular-symbol-of-three-arrows-rotation:before { content: "\f12b"; }
.flaticon-weather:before { content: "\f12c"; }
.flaticon-clock-1:before { content: "\f12d"; }
.flaticon-attachment:before { content: "\f12e"; }
.flaticon-laptop:before { content: "\f12f"; }
.flaticon-transport:before { content: "\f130"; }
.flaticon-four-thumbnails-visualization-button:before { content: "\f131"; }
.flaticon-recycle-triangle-of-three-arrows-outlines:before { content: "\f132"; }
.flaticon-arrows-2:before { content: "\f133"; }
.flaticon-snowflake:before { content: "\f134"; }
.flaticon-clock-2:before { content: "\f135"; }
.flaticon-find-in-folder:before { content: "\f136"; }
.flaticon-smartphone:before { content: "\f137"; }
.flaticon-arrow-pointing-to-right:before { content: "\f138"; }
.flaticon-gas-pump:before { content: "\f139"; }
.flaticon-house-silhouette:before { content: "\f13a"; }
.flaticon-cancel-music:before { content: "\f13b"; }
.flaticon-surgeon-doctor:before { content: "\f13c"; }
.flaticon-arrows-3:before { content: "\f13d"; }
.flaticon-floor:before { content: "\f13e"; }
.flaticon-trifold-brochure:before { content: "\f13f"; }
.flaticon-exercise:before { content: "\f140"; }
.flaticon-love-planet:before { content: "\f141"; }
.flaticon-workers:before { content: "\f142"; }
.flaticon-medical-operation:before { content: "\f143"; }
.flaticon-open-magazine:before { content: "\f144"; }
.flaticon-confirm-schedule:before { content: "\f145"; }
.flaticon-star:before { content: "\f146"; }
.flaticon-right-arrow:before { content: "\f147"; }
.flaticon-left-arrow:before { content: "\f148"; }
.flaticon-order:before { content: "\f149"; }
.flaticon-key:before { content: "\f14a"; }
.flaticon-medical:before { content: "\f14b"; }
.flaticon-bank:before { content: "\f14c"; }
.flaticon-smartphone-1:before { content: "\f14d"; }
.flaticon-cogwheel:before { content: "\f14e"; }
.flaticon-management:before { content: "\f14f"; }
.flaticon-id-card:before { content: "\f150"; }
.flaticon-plug:before { content: "\f151"; }
.flaticon-arrows-4:before { content: "\f152"; }
.flaticon-arrows-5:before { content: "\f153"; }
.flaticon-money-bag:before { content: "\f154"; }
.flaticon-networking:before { content: "\f155"; }
.flaticon-settings:before { content: "\f156"; }
.flaticon-next:before { content: "\f157"; }
.flaticon-back:before { content: "\f158"; }
.flaticon-reload:before { content: "\f159"; }
.flaticon-headphones:before { content: "\f15a"; }
.flaticon-shopping-bag:before { content: "\f15b"; }
.flaticon-cancel:before { content: "\f15c"; }
.flaticon-signs:before { content: "\f15d"; }
.flaticon-diamond:before { content: "\f15e"; }
.flaticon-chat:before { content: "\f15f"; }
.flaticon-phone:before { content: "\f160"; }
.flaticon-down-chevron:before { content: "\f161"; }
.flaticon-up-chevron:before { content: "\f162"; }
.flaticon-stairs:before { content: "\f163"; }
.flaticon-music-player:before { content: "\f164"; }
.flaticon-play-button-1:before { content: "\f165"; }
.flaticon-speaker:before { content: "\f166"; }
.flaticon-menu:before { content: "\f167"; }
.flaticon-calculator:before { content: "\f168"; }
.flaticon-share:before { content: "\f169"; }
.flaticon-map:before { content: "\f16a"; }
.flaticon-hourglass:before { content: "\f16b"; }
.flaticon-layers:before { content: "\f16c"; }
.flaticon-settings-1:before { content: "\f16d"; }
.flaticon-clock-3:before { content: "\f16e"; }
.flaticon-alarm-clock:before { content: "\f16f"; }
.flaticon-file:before { content: "\f170"; }
.flaticon-list:before { content: "\f171"; }
.flaticon-home:before { content: "\f172"; }
.flaticon-star-1:before { content: "\f173"; }
.flaticon-user-2:before { content: "\f174"; }
.flaticon-placeholder-1:before { content: "\f175"; }
.flaticon-shield:before { content: "\f176"; }
.flaticon-bar-chart:before { content: "\f177"; }
.flaticon-handshake:before { content: "\f178"; }
.flaticon-time:before { content: "\f179"; }
.flaticon-guide:before { content: "\f17a"; }
.flaticon-worldwide:before { content: "\f17b"; }
.flaticon-book:before { content: "\f17c"; }
.flaticon-e-mail-envelope:before { content: "\f17d"; }
.flaticon-board:before { content: "\f17e"; }
.flaticon-twitter:before { content: "\f17f"; }
.flaticon-smartphone-2:before { content: "\f180"; }
.flaticon-email:before { content: "\f181"; }
.flaticon-mobile:before { content: "\f182"; }
.flaticon-location-pin:before { content: "\f183"; }
.flaticon-maps-and-flags:before { content: "\f184"; }
.flaticon-add:before { content: "\f185"; }
.flaticon-substract:before { content: "\f186"; }
.flaticon-phone-call:before { content: "\f187"; }
.flaticon-phone-call-1:before { content: "\f188"; }
.flaticon-mail:before { content: "\f189"; }
.flaticon-folder:before { content: "\f18a"; }
.flaticon-shopping-cart-1:before { content: "\f18b"; }
.flaticon-monitor:before { content: "\f18c"; }
.flaticon-menu-1:before { content: "\f18d"; }
.flaticon-cancel-1:before { content: "\f18e"; }
.flaticon-up-arrow-inside-circle:before { content: "\f18f"; }
.flaticon-circular-down-arrow-button:before { content: "\f190"; }
.flaticon-24-hours:before { content: "\f191"; }
.flaticon-cup:before { content: "\f192"; }
.flaticon-t-shirt-outline:before { content: "\f193"; }
.flaticon-folder-outline:before { content: "\f194"; }
.flaticon-quote:before { content: "\f195"; }
.flaticon-mac-window-with-arrows:before { content: "\f196"; }
.flaticon-play-button-2:before { content: "\f197"; }
.flaticon-right-quotation-sign:before { content: "\f198"; }
.flaticon-left-quotes-sign:before { content: "\f199"; }
.flaticon-up-arrow:before { content: "\f19a"; }
.flaticon-telephone:before { content: "\f19b"; }
.flaticon-open-mail-interface-symbol:before { content: "\f19c"; }
.flaticon-menu-button:before { content: "\f19d"; }
.flaticon-menu-2:before { content: "\f19e"; }
.flaticon-anchor:before { content: "\f19f"; }
.flaticon-laptop-1:before { content: "\f1a0"; }
.flaticon-laptop-2:before { content: "\f1a1"; }
.flaticon-computer:before { content: "\f1a2"; }
.flaticon-smartphone-3:before { content: "\f1a3"; }
.flaticon-console:before { content: "\f1a4"; }
.flaticon-touch-screen:before { content: "\f1a5"; }
.flaticon-chain:before { content: "\f1a6"; }
.flaticon-heart-rate:before { content: "\f1a7"; }
.flaticon-link:before { content: "\f1a8"; }
.flaticon-link-1:before { content: "\f1a9"; }
.flaticon-link-2:before { content: "\f1aa"; }
.flaticon-add-1:before { content: "\f1ab"; }
.flaticon-small-calendar:before { content: "\f1ac"; }
.flaticon-user-3:before { content: "\f1ad"; }
.flaticon-briefcase:before { content: "\f1ae"; }
.flaticon-correct:before { content: "\f1af"; }
.flaticon-tick-inside-circle:before { content: "\f1b0"; }
.flaticon-left-quote:before { content: "\f1b1"; }
.flaticon-settings-2:before { content: "\f1b2"; }
.flaticon-apartment:before { content: "\f1b3"; }
.flaticon-building:before { content: "\f1b4"; }
.flaticon-brokerage:before { content: "\f1b5"; }
.flaticon-church:before { content: "\f1b6"; }
.flaticon-play-button-3:before { content: "\f1b7"; }
.flaticon-play-button-4:before { content: "\f1b8"; }
.flaticon-list-1:before { content: "\f1b9"; }
.flaticon-support:before { content: "\f1ba"; }
.flaticon-telephone-receiver:before { content: "\f1bb"; }
.flaticon-close:before { content: "\f1bc"; }
.flaticon-heart:before { content: "\f1bd"; }
.flaticon-renewable:before { content: "\f1be"; }
.flaticon-shopping-cart:before { content: "\f1bf"; }
.flaticon-repeat:before { content: "\f1c0"; }
.flaticon-menu-3:before { content: "\f1c1"; }
.flaticon-sun:before { content: "\f1c2"; }
.flaticon-wind-turbine-outlined-tool:before { content: "\f1c3"; }
.flaticon-energy:before { content: "\f1c4"; }
.flaticon-wind-engine:before { content: "\f1c5"; }
.flaticon-wind-turbine-for-ecological-energy:before { content: "\f1c6"; }
.flaticon-sun-1:before { content: "\f1c7"; }
.flaticon-leaf:before { content: "\f1c8"; }
.flaticon-leaf-1:before { content: "\f1c9"; }
.flaticon-leaf-2:before { content: "\f1ca"; }
.flaticon-hydro-power:before { content: "\f1cb"; }
.flaticon-water:before { content: "\f1cc"; }
.flaticon-seo:before { content: "\f1cd"; }
.flaticon-file-1:before { content: "\f1ce"; }
.flaticon-file-2:before { content: "\f1cf"; }
.flaticon-calendar-day-15:before { content: "\f1d0"; }
.flaticon-calendar:before { content: "\f1d1"; }
.flaticon-avatar:before { content: "\f1d2"; }
.flaticon-user:before { content: "\f1d3"; }
.flaticon-man:before { content: "\f1d4"; }
.flaticon-edit-1:before { content: "\f1d5"; }
.flaticon-new-file:before { content: "\f1d6"; }
.flaticon-edit-2:before { content: "\f1d7"; }
.flaticon-facebook-thumb-up:before { content: "\f1d8"; }
.flaticon-facebook-like-hand-symbol-outline:before { content: "\f1d9"; }
.flaticon-facebook-like:before { content: "\f1da"; }
.flaticon-right-quote:before { content: "\f1db"; }
.flaticon-left-quote-1:before { content: "\f1dc"; }
.flaticon-like:before { content: "\f1dd"; }
.flaticon-like-1:before { content: "\f1de"; }
.flaticon-like-2:before { content: "\f1df"; }
.flaticon-heart-1:before { content: "\f1e0"; }
.flaticon-atom-1:before { content: "\f1e1"; }
.flaticon-atom:before { content: "\f1e2"; }
.flaticon-atomic-energy:before { content: "\f1e3"; }
.flaticon-water-1:before { content: "\f1e4"; }
.flaticon-water-2:before { content: "\f1e5"; }
.flaticon-light-bulb-on:before { content: "\f1e6"; }
.flaticon-lightbulb:before { content: "\f1e7"; }
.flaticon-ecology-and-environment:before { content: "\f1e8"; }
.flaticon-barrel:before { content: "\f1e9"; }
.flaticon-eco:before { content: "\f1ea"; }
.flaticon-solar-panel:before { content: "\f1eb"; }
.flaticon-solar-panel-1:before { content: "\f1ec"; }
.flaticon-solar-panel-2:before { content: "\f1ed"; }
.flaticon-solar-panel-3:before { content: "\f1ee"; }
.flaticon-recycling:before { content: "\f1ef"; }
.flaticon-drop-1:before { content: "\f1f0"; }