/* Sobuj - Green Energy HTML Template  */

@media only screen and (max-width: 1280px){

	.feature-block:before,
	.main-header .catergories,
	.main-header .header-upper .text-box{
		display: none;
	}

	.sidebar-page-container .sidebar,
	.counter-column .inner,
	.main-menu{
		padding-left: 0;
	}

	.sidebar-page-container.left-sidebar .sidebar,
	.service-block-two .inner-box .text,
	.service-block .inner-box .text{
		padding-right: 0;
	}

	.about-section-two .content-column .btn-box{
		padding-top: 50px;
	}

	.services-section-two .row{
		margin: 0 -15px;
	}

	.service-block-two{
		padding: 0 15px;
	}

	.features-and-facts .counter-column .content{
		text-align: center;
	}

	.features-and-facts .features-column .inner-column,
	.features-and-facts .counter-column .inner{
		padding: 70px 15px;
	}

	.features-and-facts .counter-column .content{
		padding-left: 0;
		text-align: center;
	}

	.features-and-facts .counter-column .icon-box{
		position: relative;
		display: inline-block;
		margin-bottom: 10px;
	}

	.counter-column .count-outer .count-text,
	.counter-column .count-outer{
		font-size: 40px;
	}
	
	.features-and-facts .counters-column{
		padding: 50px 20px;
	}

	.service-detail .image-column .inner-column{
		padding-left: 0;
		padding-right: 0;
	}

	.sidebar-page-container.left-sidebar .sidebar-side{
		order: 13;
	}
	
	.contact-page-section .float-img{
		display:none;	
	}
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	.sticky-header{
		display: none !important;
	}

	.main-header .header-upper .logo-outer{
		padding: 20px 0;
		text-align: center;
		width: 100%;
		border-bottom: 1px solid #dddddd;
	}

	.main-header .info-box{
		width: 50%;
		margin-left: 0;
		padding-left: 0;
		text-align: center;
		margin-bottom: 30px;
	}

	.main-header .header-upper .upper-right{
		padding-top: 30px;
		width: 100%;
	}

	.main-header .info-box .icon-box{
		position: relative;
		display: inline-block;
		margin-bottom: 10px;
	}

	.main-menu .navigation > li{
		padding: 15px 20px;
	}

	.banner-carousel h2{
		font-size: 42px;
		line-height: 1.2em;
	}

	.banner-section-two .banner-carousel .slide-item,
	.banner-carousel .slide-item{
		padding: 180px 0;
	}

	.services-section .layer-image{
		width: 100%;
		opacity: 0.03;
	}


	.header-style-two .outer-box .link-box,
	.header-style-two .main-menu .navigation > li > a{
		padding: 15px 0;
	}

	.header-style-two .header-upper .nav-outer{
		width: 100%;
	}

	.header-style-two .main-menu .navigation > li:before{
		display: none;
	}


	.banner-carousel .owl-prev{
		left: 0;
	}

	 .banner-carousel .owl-next{
	 	right: 0;
	 }

	 .testimonial-section-two .owl-nav{
	 	display: none;
	 }

	 .service-block-two{
	 	margin-bottom: 30px;
	 }

	 .about-section-two .content-column{
	 	order: 12;
	 }

	 .about-section-two .content-column .inner-column{
	 	padding: 70px 0;
	 }

	 .about-section-two .image-column .inner-column{
	 	margin-left: 0;
	 	margin-right: 0;
	 }

	 .about-section-two .content-column .text{
	 	padding-right: 0;
	 }

	 .about-section-two .content-column .graph-image .graph{
	 	margin-right: 0;
	 	width: 100%;
	 }


	.features-and-facts .features-column,
	.features-and-facts .counters-column{
		position: relative;
		float: left;
		width: 100%;
		display: block;
	}

	.features-and-facts .features-column .inner-column{
		width: 100%;
		max-width: 100%;
	}

	.service-detail .image-column{
		order: 5;
	}
	
	.services-section .layer-image{
		display:none;	
	}

}

@media only screen and (max-width: 767px){	

	.main-header .header-lower{
		position: relative;
	}

	.main-header .main-box{
		padding: 0 15px;
	}

	.main-header .main-box .logo-box{
		width: auto;
		padding: 10px 0;
	}


	.social-icon-one li{
		margin-left: 0;
		margin-right: 15px;
	}

	.main-header .main-menu{
		padding-top: 0px;
		width: 100%;
		margin: 0px;
	}

	.main-menu .navbar-header {
	    position: relative;
	    float: none;
	    display: block;
	    text-align: right;
	    width: 100%;
	    padding: 10px 0px 10px;
	    right: 0px;
	}

	.main-header .outer-box{
		position: absolute;
		left: 0;
		top: 0;
		display: block;
	}

	.main-menu .collapse {
	   max-height:400px;
		overflow:auto;
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;	
	}

	.navbar-dark .navbar-toggler{
		border:0;
		padding: 0;
	}

	.header-style-two .header-upper .nav-outer{
		position: relative;
	}

	.header-style-two .outer-box .link-box{
		padding: 15px 0;
	}

	.navbar-toggler .icon{
		position: relative;
		font-size: 34px;
		line-height: 1.2em;
		color: #91c53c;
	}

	.navbar-light .navbar-toggler{
		border: 0;
		padding: 0;
	}

	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		padding:0px !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
		font-size:15px !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		padding:0px;
		outline:none;
		width:100%;
		background:#91c53c;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
		-webkit-transform: scaleY(1);
	    -ms-transform: scaleY(1);
	    -moz-transform: scaleY(1);
	    transform: scaleY(1);
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		border-bottom:none;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul > li:first-child,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:first-child{
		border-top:none !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:12px 20px !important;
		line-height:22px;
		color:#ffffff;
		font-weight:500;
		font-size:15px;
		background:#91c53c;
		text-align:left;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#ff5926;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,

	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#91c53c;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}

	.main-menu .navigation > li > ul > li > ul > li,
	.main-menu .navigation > li > ul > li{
		padding-left: 0;
		padding-right: 0;
	}

	.main-menu .navigation > li > ul > li > ul > li > a,
	.main-menu .navigation > li > ul > li > a{
		border-bottom: 0;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}

	.call-to-action .content-column h2,
	.download-section .content-box h2,
	.sec-title h2{
		font-size: 32px;
		line-height: 1.2em;
	}

	.sec-title h2 br,
	.sec-title .text br{
		display: none;
	}

	.page-title h1{
		font-size: 32px;
	}

	.error-section{
		padding: 70px 0;
	}

	.sec-title .title{
		padding-left: 0;
	}

	.sec-title .title:before{
		display: none;
	}

	.counter-column .content{
		padding-left: 0;
		text-align: center;
	}

	.counter-column .icon-box{
		position: relative;
		display: inline-block;
		margin-bottom: 10px;
	}

	.main-header .top-left,
	.project-block h3 br{
		display: none;
	}

	.news-block .content-box .inner-box{
		padding: 45px 25px 30px;
	}

	.main-header .outer-box .option-box li{
		border:0 !important;
	}

	.banner-carousel .link-box a{
		padding: 10px 30px;
		line-height: 28px;
		height: 50px;
	}

	.banner-section-two .slide-item .link-box .theme-btn{
		height: auto;
		width: auto;
		padding: 13px 40px;
	}

	.banner-carousel h2{
		font-size: 36px;
	}

	.news-block .content-box h3{
		font-size: 20px;
		line-height: 1.4em;
	}

	.main-footer .footer-menu ul li{
		margin:0 15px;
	}

	.main-footer .footer-menu ul li:before{
		display: none;
	}

	.related-work h2,
	.video-section .content-column h2,
	.service-detail .content-column h2,
	.why-choose-us .content-box h3{
		font-size: 24px;
	}

	.why-choose-us,
	.services-section,
	.contact-page-section,
	.services-section-two{
		padding: 70px 0 0;
	}

	.blog-grid,
	.news-section,
	.about-section,
	.testimonial-section,
	.project-section-two,
	.testimonial-section-two,
	.download-section{
		padding: 70px 0;
	}

	.related-work,
	.service-detail,
	.news-section-two,
	.project-section{
		padding: 70px 0 40px;
	}

	.video-section{
		padding: 70px 0 30px;
	}

	.sidebar-page-container{
		padding: 70px 0 20px;
	}

	.features-and-facts .counter-column .content{
		text-align: center;
	}

	.features-and-facts .features-column .inner-column,
	.features-and-facts .counter-column .inner{
		padding: 70px 15px;
	}

	.project-tabs .tab-buttons li{
		margin: 0 10px;
	}

	.features-and-facts .counters-column{
		padding: 50px 20px;
	}

	.project-tabs .tab-buttons{
		padding: 60px 0 0px;
	}

	.team-section{
		padding: 70px 0 20px;
	}

	.service-block-two .inner-box:before,
	.service-block .inner-box:before{
		right: 0;
		margin: 0 auto;
		background-position: center top;
	}

	.contact-page-section .title,
	.contact-page-section .contact-info,
	.service-block-two .inner-box,
	.service-block .inner-box{
		position: relative;
		text-align: center;
	}

	.project-section .filters li{
		margin: 0 15px;
	}

	.page-title .bread-crumb{
		float: left;
		width: 100%;
	}

	.blog-list .news-block-two .lower-content{
		padding-top: 20px;
	}

	.blog-list .news-block-two .image-box .image{
		margin-right: 0;
	}

	.contact-form-two .form-group input[type="submit"], 
	.contact-form-two .form-group button{
		display: block;
		width: 100%;
	}
	
	.banner-section-two .slide-item .link-box .lightbox-image{
		display:none;	
	}
}

@media only screen and (max-width: 599px){
	
	.banner-section-two .banner-carousel .slide-item,
	.banner-carousel .slide-item{
		padding: 120px 0;
	}
	.error-page-section .text{
		font-size: 18px;
	}

	.error-page-section{
		padding: 70px 0;
	}

	.error-page-section h4,
	.banner-section-two .slide-item h2,
	.banner-carousel h2{
		font-size: 28px;
	}

	.banner-carousel h2 br{
		display: none;
	}

	.blog-list .news-block-two .lower-content h3,
	.banner-carousel .content-box .text{
		font-size: 18px;
		margin-bottom: 15px;
	}

	.main-header .top-right{
		width: 100%;
	}

	.main-header .top-right > ul > li{
		display: none;
		margin-left: 0;
		padding-left: 0;
	}

	.main-header .top-right > ul > li.language{
		float: right;
		display: block;
	}

	.main-header .top-right > ul > li.login{
		float: left;
		display: block;
	}

	.testimonial-carousel{
		padding-bottom: 0;
	}

	.projects-carousel .owl-nav,
	.testimonial-carousel .owl-dots{
		display: none;
	}

	.news-block .content-box,
	.news-block .image-box{
		position: relative;
		width: 100%;
	}

	.news-block .image-box .image{
		display: block;
	}

	.service-block-two .inner-box{
		padding: 60px 25px 35px;
	}

	.comments-area .comment .author-thumb,
	.author-box .thumb{
		position: relative;
		display: inline-block;
	}

	.comments-area .comment,
	.author-box .inner-box{
		padding-left: 0;
	}

	.comments-area .comment .reply-btn{
		position: relative;
		display: inline-block;
		margin-top: 20px;
	}

	.comments-area .comment-info{
		padding-top: 0;
	}
	
	.testimonial-block,
	.testimonial-block .social-links{
		text-align:center;	
	}
	
	.testimonial-block .social-links li{
		margin:0px 5px;	
	}
	
	.testimonial-block .info-box{
		padding:0px;	
	}
	
	.testimonial-block .info-box .thumb{
		position:relative;
		left:0;
		top:0;
		margin:0 auto 20px;	
	}
	
	.banner-section-two .slide-item .link-box a{
		display:inline-block;
		margin:0px 5px;
		float:none;
	}
}

@media only screen and (max-width: 479px) {

	.main-header .info-box{
		width: 100%;
	}

	.feature-block-two .inner-box{
		padding-left: 0;
		text-align: center;
	}

	.post-widget .post{
		padding-left: 0;
	}

	.post-widget .post .thumb,
	.feature-block-two .icon-box{
		position: relative;
		display: inline-block;
		margin-bottom: 20px;
	} 


	.blog-single .post-share-options > div{
		width: 100%;
		margin-bottom: 5px;
	}

}